<app-header></app-header>
<div class="container-fluid">

    <div  data-aos="fade-up">
      <img src= "../../assets/images/IMG_7071.jpg" alt="Random third slide"  style = "float:right" />
    </div>
    <div   data-aos="fade-right">
      <img src="../../assets/images/IMG_7055.jpg" alt="Random third slide"   style = "float:left"/>
    </div>
    <div   data-aos="fade-left">
      <img src="../../assets/images/IMG_7056.jpg" alt="Random third slide"  style = "float:right" />
    </div>
    <div   data-aos="fade-up-right">
      <img src="../../assets/images/IMG_7057.jpg" alt="Random third slide"   style = "float:left"/>
    </div>
    <div   data-aos="fade-up-left">
      <img src="../../assets/images/IMG_7058.jpg" alt="Random third slide"   style = "float:right"/>
    </div>
    <div   data-aos="fade-down-right">
      <img src="../../assets/images/IMG_7059.jpg" alt="Random third slide"   style = "float:left"/>
    </div>
    <div   data-aos="fade-down-left">
      <img src="../../assets/images/IMG_7060.jpg" alt="Random third slide"  style = "float:right" />
    </div>
    <div   data-aos="flip-left">
      <img src="../../assets/images/IMG_7061.jpg" alt="Random third slide"   style = "float:left"/>
    </div>
    <div   data-aos="flip-right">
      <img src="../../assets/images/IMG_7062.jpg" alt="Random third slide"   style = "float:right"  />
    </div>
    <div   data-aos="flip-down">
      <img src="../../assets/images/IMG_7063.jpg" alt="Random third slide"   style = "float:left"/>
    </div>
    <div   data-aos="zoom-in">
      <img src="../../assets/images/IMG_7065.jpg" alt="Random third slide"   style = "float:right"  />
    </div>
    <div   data-aos="zoom-in-up">
      <img src="../../assets/images/IMG_7066.jpg" alt="Random third slide" style = "float:left" />
    </div>
    <div   data-aos="zoom-in-down">
      <img src="../../assets/images/IMG_7067.jpg" alt="Random third slide"   style = "float:right"/>
    </div>
    <div   data-aos="zoom-in-left">
      <img src="../../assets/images/IMG_7068.jpg" alt="Random third slide"  style = "float:left"/>
    </div>
    <div   data-aos="zoom-in-right">
      <img src="../../assets/images/IMG_7054.jpg" alt="Random third slide"   style = "float:right"/>
    </div>
  </div>

